.container {
	max-width: 980px;
	position: relative;
	margin: 0 auto;
}

/* Header */
.page-header {
	width: 100%;
	height: 80px;
	margin-bottom: 30px;
	border-bottom: 1px solid #333;
}
.logo, .main-nav, .util-nav {
	position: absolute;
	top: 0;
}
.logo {
	line-height: 80px;
	left: 0;
	font-size: 26px;
}
.main-nav {
	line-height: 80px;
	right: 0;
}
.main-menu__item {
	display: inline-block;
	margin-left: 20px;
}
.main-menu__anchor {
	text-decoration: none;
	font-size: 18px;
}
.util-nav {
	top: 5px;
	right: 0;
}

/* Main */
.page-main {
	width: 100%;
	min-height: 100%;
}

/* Login */
.login-form {
}

/* Footer */
.page-footer {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #333;
}
.copy {
	line-height: 30px;
}
